<!-- <div class="border p-3 rounded mt-3">
  <h2>Product Name {{ myProduct.name }}</h2>
  <p class="lead fs-3 mt-3">TrackName : {{ ourTrackName }}</p>
  <p class="lead fs-3 mt-3">Product Price :</p>
  @if (previousValue) {
  <p class="lead fs-3 mt-3">
    Previous Price
    <strong class="text-danger text-decoration-line-through">{{
      previousValue | currency
    }}</strong>
  </p>
  }

  <p class="lead fs-3 mt-3">
    After Offer Product Price
    <strong class="text-danger">{{ myProduct.price | currency }}</strong>
  </p>

  <p class="lead fs-3 mt-3">Product quantity :{{ myProduct.quantity }}</p>
</div> -->
<div class="border p-3 rounded mt-3">
  <h1 #elementRef>Book</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere debitis,
    tenetur deserunt recusandae obcaecati magni veritatis accusamus est
    exercitationem aut, magnam ullam tempora voluptates consequuntur repudiandae
    velit nam. Nulla, cupiditate!
  </p>
</div>
