<div class="container mt-5 p-3">
  <h1 class="text-center text-muted mb-3">Movies List</h1>

  <app-shared-card>
    <h1 up>Book</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, totam
      saepe reiciendis numquam quam maiores deleniti odit obcaecati porro nobis.
      Corporis vero, architecto commodi suscipit laudantium labore dolores
      perferendis voluptatum.
    </p>
  </app-shared-card>
  <app-shared-card>
    <h2 up>Pen</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, totam
      saepe reiciendis numquam quam maiores deleniti odit obcaecati porro nobis.
      Corporis vero, architecto commodi suscipit laudantium labore dolores
      perferendis voluptatum.
    </p>
  </app-shared-card>
  <app-shared-card>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, totam
      saepe reiciendis numquam quam maiores deleniti odit obcaecati porro nobis.
      Corporis vero, architecto commodi suscipit laudantium labore dolores
      perferendis voluptatum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga laboriosam
      corrupti, unde labore minus, asperiores eaque rem ratione beatae vel
      expedita reprehenderit doloribus cupiditate, maxime recusandae sint?
      Rerum, fugit ipsum?
    </p>
  </app-shared-card>
</div>
