<div class="container mt-5">
  <div class="">
    <h1>Pipes</h1>
    <!-- <p class="lead fs-2 mt-4">{{ title | uppercase }}</p>
    <p class="lead fs-2 mt-4">{{ "TITLE" | lowercase }}</p>
    <p class="lead fs-2 mt-4">{{ "title ali pet" | titlecase }}</p>
    <p class="lead fs-2 mt-4">{{ price | currency }}</p>
    <p class="lead fs-2 mt-4">{{ date | date : "short" }}</p>
    <p class="lead fs-2 mt-4">{{ date | date : "long" }}</p>
    <p class="lead fs-2 mt-4">{{ date | date : "MM-dd-yyy" }}</p>
    <p class="lead fs-2 mt-4">{{ obj | json }}</p> -->
    <p class="lead fs-3">
      {{ text | truncate : 20 }}
    </p>
  </div>
</div>
