<div class="container mt-5">
  <form [formGroup]="productForm" (submit)="addNewProduct()">
    <div class="mb-3">
      <label for="productNameInput" class="form-label">Product Name</label>
      <input
        type="text"
        name="productName"
        class="form-control"
        id="productNameInput"
        formControlName="name"
        placeholder="Enter Product Name"
        aria-describedby="productNameInput"
      />
      @if(getName.touched){ @if(getName.hasError('required')){
      <div id="emailHelp" class="form-text text-danger">
        Product Name is Required
      </div>
      } @if(getName.hasError('minlength')){
      <div id="emailHelp" class="form-text text-danger">
        Product Name length must be greater than 3
      </div>
      } }
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Product Price</label
      >
      <input
        type="number"
        class="form-control"
        name="productPrice"
        formControlName="price"
        placeholder="Enter Product Price"
        id="exampleInputPassword1"
      />
      @if(getPrice.hasError('required')){
      <div id="emailHelp" class="form-text text-danger">
        Product price is Required
      </div>
      }
    </div>
    <p class="lead fs-3">{{ productForm.value | json }}</p>

    <button type="submit" class="btn btn-dark">Add new Product</button>
  </form>
</div>
