<!-- <div class="container mt-5 p-5">
  <h2>Attribute Directives</h2>
  <p class="lead p-5 border mt-5 rounded" [class.bg-success]="flag">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, laborum? At
    reiciendis officiis cumque enim et ullam quae architecto tempore repellendus
    tenetur, tempora cupiditate soluta laudantium! Sapiente ex expedita nobis!
  </p>
  <button class="btn btn-dark" (click)="toggle()">Toggle</button>
</div> -->
<!-- <div class="container mt-5 p-5">
  <h2>Attribute Directives</h2>
  <p
    class="lead p-5 border mt-5 rounded"
    [ngClass]="{
      customBG: flag,
      'bg-danger': !flag
    }"
  >
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, laborum? At
    reiciendis officiis cumque enim et ullam quae architecto tempore repellendus
    tenetur, tempora cupiditate soluta laudantium! Sapiente ex expedita nobis!
  </p>
  <button class="btn btn-dark" (click)="toggle()">Toggle</button>
</div> -->
<!-- <div class="container mt-5 p-5">
  <h2>Attribute Directives</h2>
  <p
    class="lead p-5 border mt-5 rounded"
    [style.color]="flag ? 'blue' : 'green'"
  >
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, laborum? At
    reiciendis officiis cumque enim et ullam quae architecto tempore repellendus
    tenetur, tempora cupiditate soluta laudantium! Sapiente ex expedita nobis!
  </p>
  <button class="btn btn-dark" (click)="toggle()">Toggle</button>
</div> -->
<!-- <div class="container mt-5 p-5">
  <h2>Attribute Directives</h2>
  <p
    class="lead p-5 border mt-5 rounded"
    [ngStyle]="{
      color: flag ? 'red' : 'green',
      background: flag ? '#000' : 'blue',
      padding: '20px'
    }"
  >
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, laborum? At
    reiciendis officiis cumque enim et ullam quae architecto tempore repellendus
    tenetur, tempora cupiditate soluta laudantium! Sapiente ex expedita nobis!
  </p>
  <button class="btn btn-dark" (click)="toggle()">Toggle</button>
</div> -->

<div class="container mt-5 p-5">
  <h1 class="text-center text-muted mb-4" appScaleElement>ITI Tracks</h1>
  <input
    type="text"
    placeholder="Enter Your Data"
    appAutoUpperCase
    class="form-control"
  />
  <!-- <div class="row">
    @for (track of itiTracks; track $index) {

    <div class="col-sm-6 col-md-4 g-3" appScaleElement>
      <div class="border p-3 rounded">
        <h2>{{ track }}</h2>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio,
          culpa maxime. Culpa atque corrupti itaque. Sint aut, dolor nobis
          aspernatur vitae possimus debitis praesentium itaque iste beatae quis
          reiciendis dolore!
        </p>
      </div>
    </div>
    }
  </div> -->
</div>
