<div class="container mt-3">
  <div class="alert alert-success p-3">
    <h1>Your Special Offer: {{ currentAd }}</h1>
  </div>
  <div class="alert alert-primary p-5">
    <h1>Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur modi
      dignissimos consequatur voluptatibus sint labore ullam reiciendis
      perspiciatis tenetur atque quae debitis necessitatibus, maxime excepturi
      quo nihil, expedita quaerat. Aut.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur modi
      dignissimos consequatur voluptatibus sint labore ullam reiciendis
      perspiciatis tenetur atque quae debitis necessitatibus, maxime excepturi
      quo nihil, expedita quaerat. Aut.
    </p>
    <button class="btn btn-dark">Show More</button>
  </div>
</div>
