<h2 class="mb-4">Login</h2>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter Youe Email"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Enter Your Password"
    />
  </div>
  <p class="lead fs-5">Don't have an account <a href="#">Sign Up</a></p>

  <button type="submit" class="d-block w-100 btn btn-dark">login</button>
</form>
