<!-- <div class="container mt-5 p-5 bg-light">

   <h1 class="text-center">One Way Binding</h1>
  <p class="lead mt-4">Track Name : {{ trackName }}</p>
  <p class="lead mt-4">Track Name : {{ x }}</p>
  <p class="lead mt-4">Track Name : {{ flag ? "Sara" : "Ali" }}</p>
  <p class="lead mt-4">Student : {{ student?.name }}</p>
  <p class="lead mt-4">Student : {{ student?.id }}</p>
</div> -->
<!-- ========================================= -->
<div class="container mt-5 p-5 bg-light">
  <img [src]="imgSrc1" alt="" />
  <!-- <img [src]="imgSrc2" alt="" /> -->
  <img src="img/{{ imgSrc2 }}" alt="" />

  <p>{{ trackName }}</p>
</div>
